html {
    background-color: whitesmoke;
}

body {
    font-family: 'Quicksand', sans-serif;
   
   }

.hero-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 85px;
}
.tile-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}
.footer {
    background-color: rgb(53, 52, 52);
    color: silver;
}

.navbar-item:hover {
        transform: translate3D(0,-1px,0) scale(1.03);
      }

.hero {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
  